@layout FerryToHelsinki.Shared.Layouts.Terminal
@page "/ferryterminal"

<div id="crt-tv">
    <div id="screen">
        <div id="window">
            <OpenedTerminal OnTerminalStateChanged="@UpdateTerminalState" CurrentTerminalState="@CurrentTerminalState" ExpectedTerminalState="Enums.TerminalStates.Opened"/>
            <FerryStarted OnTerminalStateChanged="@UpdateTerminalState" CurrentTerminalState="@CurrentTerminalState" ExpectedTerminalState="Enums.TerminalStates.FerryToHelsinkiStart"/>
            <FerryGameplayLoading OnTerminalStateChanged="@UpdateTerminalState" CurrentTerminalState="@CurrentTerminalState" ExpectedTerminalState="Enums.TerminalStates.FerryToHelsinkiLoading"/>
            <FerryGameplay OnTerminalStateChanged="@UpdateTerminalState" CurrentTerminalState="@CurrentTerminalState" ExpectedTerminalState="Enums.TerminalStates.FerryToHelsinkiGameplay" />
            <div id="scanline" />
        </div>
    </div>
</div>
